<h1>Add a new message</h1>

<form action="/new" method="POST">
  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name">
  <label for="POST-message">Message:</label>
  <input id="POST-message" type="text" name="message">

  <input type="submit" value="Save">
</form>